name: Update README cards

on:
  schedule:
    - cron: "0 3 * * *"
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: write

    steps:
      - uses: actions/checkout@v4

      - run: mkdir -p assets

      - name: Generate stats card
        uses: readme-tools/github-readme-stats-action@v1
        with:
          card: stats
          options: username=${{ github.repository_owner }}&show_icons=true&include_all_commits=true&theme=tokyonight&hide_border=true
          path: assets/stats.svg
          token: ${{ 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 }}

      - name: Generate top languages card
        uses: readme-tools/github-readme-stats-action@v1
        with:
          card: top-langs
          options: username=${{ github.repository_owner }}&layout=compact&langs_count=8&theme=tokyonight&hide_border=true
          path: assets/top-langs.svg
          token: ${{ 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 }}

      - name: Commit cards
        run: |
          git config user.name "github-actions[bot]"
          git config user.email "41898282+github-actions[bot]@users.noreply.github.com"
          git add assets/*.svg
          git commit -m "Update README cards" || exit 0
          git push
